<div class="tipo-produto">

    <div class='line'>
        <label for="nome">Nome</label>
        <input id="nome" type="text">
    </div>
    <div class='line'>
        <label for="codBarras">Codigo de Barras</label>
        <input id="codBarras" type="text">
    </div>
    <div class='line'>
        <label for="qtd">Quantidade</label>
        <input id="qtd" type="number">
    </div>
    <div class='line'>
        <label for="um">Unidade de Medida</label>
        <input id="um" type="text">
    </div>
    <div class='line'>
        <label for="obs">Observação</label>
        <input id="obs" type="text">
    </div>
    <div class='line'>
        <button>Cadastrar</button>
    </div>
</div>