.instancia-produto{
    /*Variaveis*/
    --background-base:rgb(255, 255, 255);
    --background-select:rgb(105, 117, 117);
    --background-active:rgb(151, 172, 172);
    --text-select:rgb(0, 255, 221);
    --text-active:rgb(255, 255, 255);

    /*Propriedades*/
    overflow-x:auto;
    margin:10px 0;
    padding:15px 15px 15px 15px;
    box-shadow:1px 1px 5px var(--background-select);
    display:block;
    background-color:var(--background-base);
}
.line{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    min-width: 300px;
}
.line>label,.line>select{
    flex-basis:150px;
    background-color: var(--background-base);
}
.line>label{
}
.line>select{
    padding: 0 0 0 10px;
    border-style: none;
    outline-style:none;
}
.line>input{
    flex-grow: 5;
    padding: 0px 10px;
    margin-bottom:2px;
    background-color:var(--background-base);
    border-width:0 0 1px 0;
    border-color: var(--background-select);
    border-style: solid;
    outline-style:none;
}
label::after{
    content:':';
}
button{
    margin-top:15px ;
    outline-style:none;
    border-style:none;
    flex-grow:1;
}
button:hover{
    background-color:var(--background-select);
    color:var(--text-select);
}
button:active{
    background-color:var(--background-active);
    color:var(--text-active);
}

/*Tirando spinner do input number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}