<!--
<div class="lista-produto">
    <div class="classe-produto" *ngFor="let classe of classes">    
        <p>Nome: {{ classe.nome }}</p>
        <p>Cod: {{ classe.cod }}</p>
        <p>Quantidade: {{ classe.qtd }}{{ classe.um }}</p>
        <button>Ver todos itens </button>
        <div class="item" *ngFor="let produto of produtos">
            <p>Comprado em: {{ produto.entrada }}</p>
            <p>Valido até: {{ produto.validade }}</p>
            <p>Durando: {{ produto.duracao }}</p>
        </div>
    </div>
</div>
-->
<app-classe-produto></app-classe-produto>