<div class="instancia-produto">
    <div class='line'>
        <select>
            <option *ngFor='let produto of produtos'>{{ produto }}</option>
        </select>
        <input id="produto" type="text">
    </div>
    <div class='line'>
        <label for="dataEntrada">Data Entrada</label>
        <input id="dataEntrada" type="text">
    </div>
    <div class='line'>
        <label for="dataValidade">Data Validade</label>
        <input id="dataValidade" type='data'>
    </div>
    <div class='line'>
        <button>Cadastrar</button>
    </div>
</div>